<!DOCTYPE html>
<html>
<head>
    <title>7 Days: Django!</title>
    <!-- Link para o Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Personagens Traduzidos</h1>
        
        {% if personagens.error %}
            <div class="alert alert-danger">{{ personagens.error }}</div>
        {% else %}
            <table class="table table-striped table-bordered">
        {% endif %}
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome Original</th>
                        <th>Nome Traduzido</th>
                        <th>Afiliação Original</th>
                        <th>Afiliação Traduzida</th>
                    </tr>
                </thead>
                <tbody>
                    {% for personagem in page.object_list %}
                    <tr>
                        <td>{{ personagem.id }}</td>
                        <td>{{ personagem.nome_original }}</td>
                        <td>{{ personagem.nome_traduzido }}</td>
                        <td>{{ personagem.afiliacao_original }}</td>
                        <td>{{ personagem.afiliacao_traduzida }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <div class="page-links">
            {% if page.has_previous %}
                <a href="{% url 'home' %}?page={{page.previous_page_number}}">Anterior </a> 
            {% endif %}

            {% if page.has_next %}
                <a href="{% url 'home' %}?page={{page.next_page_number}}">Próximo </a> 
            {% endif %}
        </div>
    </div>

    <!-- Script do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
